@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Josefin Sans' !important;
}
.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

